.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 60px;
}

.fightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.openSignContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.openSignContainer button {
  width: 30vw;
  height: 5vh;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fightCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}

.openButton {
  background-color: rgb(40, 77, 40);
  color: white;
}

.openButton:disabled, .closeButton:disabled {
  background-color: grey;
  color: black;
}

.closeButton {
  background-color: rgb(145, 55, 55);
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animal {
  margin: 20px 5px;
}

a {
  color: white; 
  margin: 0px 60px;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
}

a:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 2px gold;
}